
.technology_list{
    margin: 0px 10px 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
}
.technology_list li{
    /* for the examples example of impacts of technology in daily life  */
    margin: 0px 122px 50px 126px ;
    text-align:justify; 
}

.technology_list p{
    text-align: justify;
    margin: 10px 20px;
}